## Github language integration

# Kronatools
Caribou/Caribou/outputs/KronaTools/** linguist-vendored

# KMC
Caribou/Caribou/data/KMC/* linguist-vendored

# faSplit
Caribou/Caribou/data/faSplit linguist-vendored
